.event-wrapper{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: .5rem;

  &.header  {
    margin-top: 1rem;
    font-weight: bold;
    padding-bottom: .5rem;
    border-bottom: 1px solid #4caf50;
  }

  span {
    &.gray {
      color: gray;
    }
  }
}