.calculator-container {
  height: 100%;
  margin: 0 auto;

  h1 {
      font-size: 2rem;
      margin: 4rem 0 3rem 1rem;
  }

  h2 {
      margin-left: 1rem;
  }

  .calculator-form {
      background-color: #f9f9f9;
      padding: 2rem 1rem;
      border-radius: 2.2rem 2.2rem 0 0;
      box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  }

  .emission-list-container {
      background-color: white;

      h2 {
          background-color: #f9f9f9;
      }
  }

  .form-group {
      margin-bottom: 1.5rem;
  }

  label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: #34495e;
  }

  input,
  select {
      width: 100%;
      padding: 1rem;
      border: 0.1rem solid #4caf50;
      border-radius: 0.5rem;
  }

  .submit-button {
      background-color: #4caf50;
      color: white;
      border: none;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 0.5rem;
  }

  .submit-button:hover {
      background-color: #4caf50;
  }
}
