.summary-container {
    color: #4caf50;
    border-radius: .8rem;
    margin-top: 1rem;

    h1 {
        width: max-content;
        color: white;
        font-size: 2rem;
        padding: 1rem 3rem 1rem 2rem;
        background-color: #4caf50;
        border-radius: 0 .8rem .8rem 0;
    }

    h2 {
        font-size: 1.5rem;
        margin: 3rem 2rem 1rem 2rem;
        text-align: center;
    }

    .co2-value {
        font-size: 2.5rem;
    }

    .co2-text {
        font-size: 1.2rem;
    }

    .circle-progress {
        width: 50%;
        margin: 0 auto;
        text {
            font-size: 1.2rem;
        }
    }

    .redirect-button {
        width: 80%;
        display: flex;
        justify-content: center;
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 1rem 1.5rem;
        font-size: 0.9rem;
        cursor: pointer;
        border-radius: .8rem;
        margin: 3rem auto 2rem;
        &:hover {
            background-color: #4caf50;
        }
    }

    .recent-journeys {
        padding: 1rem;

        h3 {
            margin-bottom: 0.5rem;
        }
    }
}
