nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 8rem;
    margin-bottom: 1.5rem;
    color: white;
    padding: 1.5rem;
}