-----BEGIN CERTIFICATE-----
MIIDhTCCAm2gAwIBAgIEEK/mfDANBgkqhkiG9w0BAQsFADBbMScwJQYDVQQDDB5SZWdlcnkgU2Vs
Zi1TaWduZWQgQ2VydGlmaWNhdGUxIzAhBgNVBAoMGlJlZ2VyeSwgaHR0cHM6Ly9yZWdlcnkuY29t
MQswCQYDVQQGEwJVQTAgFw0yNDA5MjkwMDAwMDBaGA8yMTI0MDkyOTA3MzgzNFowRzETMBEGA1UE
AwwKa3Jha2NvMi5wbDEjMCEGA1UECgwaUmVnZXJ5LCBodHRwczovL3JlZ2VyeS5jb20xCzAJBgNV
BAYTAlVBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlIbnVDrpq1Yv/qL553NPFbMs
L1i/RWmGmHchs5AFjcv6m/yNYFX58ph0T207E8pIEp+9chCwfEqD/fzHy2zOt9stbif3B8p5XuJ0
7IMxFLa1BrQyQeqJu/A3ijO4MoFRGgmvJ+9CGLtbGIRz2LYqC2FZ6YI4oOm0jhxoeAKGMnbwWBt7
m6szhC7UFw64jKLgHsQMwxDJoCgcgKn8OvYDfr5Hztaf2lMgjvGOfLQHZGn9aUbtar7dogOOiLbR
dH7dQpzG5R+0vIcrwAgNZgxsRuXRKzXf6WcGiWuXntQqxKBo0RPr1QsJXS4Y/L41wE+tH1ZrHNRQ
72+PsFCWnR8QfQIDAQABo2MwYTAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIBhjAdBgNV
HQ4EFgQUxyRYTYX+IBzSpxZ+va8Mpuxz62QwHwYDVR0jBBgwFoAUxyRYTYX+IBzSpxZ+va8Mpuxz
62QwDQYJKoZIhvcNAQELBQADggEBADceJGh+KGjQJrLq89CvoOhrGdz+F+Gkh3hwnmGmD3qnKWOd
kuifevYvuEJie7XmLMuP2lc4aCreTqmojs4AhLa2ZFGBX01+B9rr9rjec/7obnz+BSVTnbzleirY
8AeRkeih8yN/xHibe2wiIYdRrIMw+/U8jvAmAFz5yHtRVJ6y+Sc+3fW2QKvKDUYKKraucxj2v2HS
449L//XdXEK3PCdjqtkIGWB8oXB7+dxn0ndf067mfUtFeaHSvW+Fr6SsN/ahzgTRlwS/l8df+65j
lSJI79S9umZDQ+M9oU3c+gP6O6GIyZV5O6t+YcYr1GQ34DtuK09oCDE4KPnnA52qP0o=
-----END CERTIFICATE-----
