.event-container {
  padding: 1rem;
  max-width: 80rem;
  margin: 0 auto;

  h1 {
      font-size: 2rem;
      margin-bottom: 2rem;
  }

  .description {
      background-color: #f9f9f9;
      padding: 1rem;
      border-radius: 0.8rem;
      box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
      margin-bottom: 2rem;
  }

  h2 {
      font-size: 1.5rem;
      color: #4caf50;
  }

  p {
      line-height: 1.6;
      color: #34495e;
      padding: 0 1rem;
  }

  .toggle-button {
      background-color: #4caf50;
      color: white;
      border: none;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 0.5rem;
      margin-top: 1rem;
  }

  .toggle-button:hover {
      background-color: #4caf50;
  }

  .details {
      margin-top: 1.5rem;
      border-top: 0.1rem solid #e1e1e1;
      padding-top: 1rem;
      color: #34495e;
  }
}
