* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif
}

body {
    height: 100vh;
    background-image: url('./assets/images/forest-background.webp');
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

h1 {
  color: black;
}