* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
  width: 100%;
  background-color: #2c3e50;
}

h1 {
  color: white;
}