.data-source{
    color: white;
    margin: 1rem;

    a {
        margin-left: 1rem;
    }

    .special-section {
        float: right;
        a{
            color: rgb(0, 0, 0, 0)
        }
    }
}