.data-source{
    height: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 1rem;
    font-size: .9rem;
    background-color: rgba(0, 0, 0, 0.5);

    a {
        color: #4caf50;
        margin-left: .5rem;
    }

    .secret-section {
        a {
            color: transparent;
        }
    }
}